@using Northwind.Models
@model IEnumerable<Order>

<div id="User" style="display:none;" data-email="@User.Identity.Name" data-customer="@User.IsInRole("Employee")"></div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        <div class="form-check text-right">
                            <input class="form-check-input" type="checkbox" id="Unshipped" checked>
                            <label class="form-check-label" for="Unshipped">Unshipped</label>
                        </div>
                    </div>
                </div>
            </th>
            <th scope="col" class="text-right">Order Id</th>
            <th scope="col" class="text-right">Order Date</th>
            <th scope="col" class="text-right">Required Date</th>
            <th scope="col" class="text-right">Shipped Date</th>
        </tr>
    </thead>
    <tbody id="order_rows" data-id="@ViewBag.id">
    </tbody>
</table>

@section scripts
{
    <script src="../../js/order.js"></script>
}